[submodule "live555"]
	path = live555
	url = https://github.com/melchi45/live555.git

[submodule "sdl2"]
	path = sdl2
	url = https://github.com/icebreaker/sdl2.git

[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git

[submodule "tinylib"]
	path = tinylib
	url = https://github.com/diederickh/tinylib.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/melchi45/cmake.git
